body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #e0f7fa, #e8f5e9);
    margin: 0;
    padding: 20px;

}
.container {
    max-width: 480px;
    background: #ffffff;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    padding: 25px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0077cc;
    padding: 10px 20px;
    color: #333;
    font-family: 'MuseoModerno', sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo-text .title {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.logo-text .subtitle {
    font-size: 10px;
    color: #fff;
}

.search-bar {
    position: relative;
    flex-grow: 1;
    margin: 0 30px;
    max-width: 400px;
}

.search-bar input {
    width: 100%;
    padding: 10px 35px 10px 10px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    pointer-events: none;
    color: #555;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
}

.profile-icon {
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

p {
    color: #555;
}
.balance-box {
    background: #f2faed;
    border: 1px solid #d6eac8;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 20px;
}
nav {
    display: flex;
    border-bottom: 2px solid #007acc;
    margin-bottom: 20px;
}

nav a {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: #007acc;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}
nav a.active {
    border-color: #007acc;
}
form {
    display: flex;
    flex-direction: column;
}
input[type="number"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
button {
    background: #007acc;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background: #005f99;
}
footer {
    background-color: #0077cc;
    color: white;
    padding: 40px 20px 20px;
    text-align: center;
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
  
.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.footbar table {
    color: white;
}
  
.footbar a {
    text-decoration: none;
    color: #ccc;
    font-size: 0.9em;
}
  
.footbar a:hover {
    color: #fff;
}