/* Header & Body */
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

header {
  background-color: #2877f7;
  padding: 10px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo a {
  text-decoration: none;
  color: white;
  font: bold 30px "MuseoModerno", sans-serif;
  padding-left: 10px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 5px;
  margin: 0;
}

.navbar ul li a:hover {
  color: rgb(0, 217, 255);
}

.navbar ul li a {
  padding: 0px 20px;
  text-decoration: none;
  color: white;
  font: 20px Arial, sans-serif;
}

.navbar ul li a img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#home-content {
  width: auto;
  height: auto;
}
/* Header & Body */

/* FAQs */
.FAQ-heading {
  margin-top: 40px;
  text-align: center;
  font: 700 20px Arial, sans-serif;
  color: #2266d3;
}

.FAQ-container {
  width: auto;
  height: auto;
  margin: 40px 100px 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.lower-FAQ {
  margin-bottom: 100px;
}

.question {
  width: 550px;
  height: auto;
  min-height: 100px;
  padding: 20px 30px 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.question details summary {
  list-style: none;
  margin-top: 20px;
  font: 700 25px Arial, sans-serif;
  color: #2266d3;
  cursor: pointer;
}

.question details summary span {
  font: 700 25px "MuseoModerno", sans-serif;
  color: #2266d3;
}

.question details p {
  line-height: 1.6;
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #2266d3;
  text-align: justify;
}

.question details p span {
  font: 18px "MuseoModerno", sans-serif;
  color: #2266d3;
}
/* FAQs */

/* Komunitas */
main {
  margin-bottom: 40px;
}

main .search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

main .search-container input {
  width: 50%;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  color: #2266d3;
  font: 15px Arial, sans-serif;
}

main .search-container input::placeholder {
  color: #2266d3;
  opacity: 70%;
}

main .search-container a i {
  margin: 0px;
  margin-left: 20px;
  font-size: 40px;
  color: #2266d3;
  cursor: pointer;
}

main .post-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 20px;
}

.post-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid white;
  border-radius: 10px;
  width: 300px;
  padding: 15px;
}

.post-card .post-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.post-header p {
  font: 700 15px Arial, sans-serif;
  color: #2266d3;
}

.post-card .avatar {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.post-card img {
  width: 300px;
  height: 200px;
  justify-self: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.post-card .post-content {
  font: 15px Arial, sans-serif;
  color: #2266d3;
  margin-bottom: 10px;
  text-align: justify;
}

.post-card .post-time {
  font: 12px Arial, sans-serif;
  font-style: italic;
  color: #2266d3;
  text-align: right;
}
/* Komunitas */

/* Event Information */
.info-container {
  width: 80%;
  margin: 50px auto;
  text-align: justify;
  line-height: 1.8;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.info-container h1 {
  font: bold 30px Arial, sans-serif;
  color: #2266d3;
  margin-bottom: 20px;
  text-align: center;
}

.event-image {
  width: 100%;
  max-width: 700px;
  height: 700px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.info-container h2, .info-container h3 {
  font: bold 22px Arial, sans-serif;
  color: #0056b3;
  margin: 15px 0;
  text-align: center;
}

.info-container p {
  font: 16px Arial, sans-serif;
  color: #0056b3;
  margin: 10px 0;
  text-align: justify;
}

.info-container ul {
  font: 16px Arial, sans-serif;
  color: #0056b3;
  margin: 15px 0;
  padding-left: 20px;
  text-align: justify;
}

.info-container ul li {
  margin-bottom: 10px;
}

.back-button {
  background-color: #2266d3;
  color: white;
  font: bold 16px Arial, sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.back-button:hover {
  background-color: #2266d3;
}
/* Event Information */

/* Konfirmasi */
.confirmation-container {
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.confirmation-container h1 {
  font: bold 30px Arial, sans-serif;
  color: #2266d3;
}

.ticket-details {
  text-align: left;
  margin: 20px auto;
  color: #0056b3;
}

.ticket-details h2 {
  font: bold 24px Arial, sans-serif;
  color: #0056b3;
  margin-bottom: 10px;
}

.ticket-details p {
  font: 16px Arial, sans-serif;
  margin: 5px 0;
}

.gallery {
  margin-top: 20px;
}

.gallery h2 {
  font: bold 24px Arial, sans-serif;
  color: #0056b3;
  margin-bottom: 10px;
}

.gallery ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

.gallery-item {
  width: 150px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery p {
  margin-top: 5px;
  font: 14px Arial, sans-serif;
  color: #0056b3;
  text-align: center;
}

.confirmation-buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font: bold 16px Arial, sans-serif;
}

.confirm-button {
  background-color: #0056b3;
  color: white;
}

.confirm-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: white;
  color: #0056b3;
  border: 2px solid #0056b3;
}

.cancel-button:hover {
  background-color: #0056b3;
  color: white;
  border: 2px solid #0056b3;
}
/* Konfirmasi */

/* Favorit */
.home-heading {
  display: flex;
  flex-wrap: wrap;
  font: Bold 30px Arial, sans-serif;
  margin: 50px 60px 10px 120px;
  color: #2266d3;
}

.destination {
  font: 20px Arial, sans-serif;
  color: #2877f7;
  padding: 8px 20px 2px;
  text-decoration: none;
}

.destination i {
  visibility: hidden;
  cursor: pointer;
  padding: 2px;
}

.destination:hover i {
  padding-left: 6px;
  visibility: visible;
}

.card-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #2266d3;
}

.cards-destination {
  width: 300px;
  height: 380px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  margin-bottom: 20px;
  border: black 10px;
}

.cards-event {
  width: 300px;
  height: 420px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  margin-bottom: 20px;
  border: black 10px;
}

.card-images {
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
}

.card-images h4 {
  margin: 0;
  padding: 15px;
  font: bold 20px Arial, sans-serif;
  color: white;
  text-shadow: 2px 2px 2px #2b2b2b;
}

.destination-content {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 40%;
}

.event-content {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 45%;
}

.stars{
  display: flex;
  padding-top: 10px;
  font-size: 12px;
}

.stars i {
  padding-left: 2px;
  font-size: 15px;
}

.stars p {
  margin: 0;
  padding-left: 5px;
  font: bold 12px Arial, sans-serif;
}

.home-icons {
  margin-top: auto;
  display: flex;
}

.home-icons i {
  font-size: 25px;
  padding-left: 5px;
}

.home-icons p {
  margin-top: 5px;
  padding-left: 10px;
  font: 700 18px Arial, sans-serif;
}

.destination-content h3, .event-content h3 {
  font: 750 20px Arial, sans-serif;
  margin: 0;
}

.event-description {
  display: flex;
  flex-direction: column;
  padding: 15px 0px 5px;
  margin: 0;
  text-align: left;
}

.event-description p {
  margin: 5px;
}

.event-description p span {
  margin-left: 10px;
}

.card-button {
  margin-top: auto;
  text-align: center;
  padding: 8px 16px;
  background-color: #2877f7;
  text-decoration: none;
  border-radius: 5px;
  color: white;
}
/* Favorit */

/* Footer */
footer {
  background-color: #2877f7;
  text-align: center;
  color: white;
  font: 15px Arial, sans-serif;
  padding: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.footer-logo {
  display: flex;
  align-items: center;
  color: white;
}

.footer-logo h5 {
  text-align: start;
  font: bold 20px "MuseoModerno", sans-serif;
}

.footbar {
  margin-top: 20px;
}

.footbar table {
  width: 400px;
  height: 90px;
}

.footbar table tr td a {
  text-align: center;
  text-decoration: none;
  color: white;
  font: 15px Arial, sans-serif;
}

.footbar table tr td a:hover {
  color: rgb(0, 217, 255);
}
/* Footer */