body {
    overscroll-behavior: none;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.main {
    margin-top: 120px;
    margin-left: 220px;
    margin-right: 20px;
    padding: 20px;
}

.reviewed {
    position: relative;
    top: 20px;
    right: 10px;
    display: flex;
    background-color: grey;
    padding: 40px;
    border-radius: 30px;
}

.reviewed i {
    font-size: 100px;
    color: white;
    margin-right: 40px;
    align-self: center;
}

.reviewed p {
    font: 30px "verdana";
    color: white;
    line-height: 1.8;
}

.approved {
    position: relative;
    top: 10px;
    right: 60px;
    display: flex;
    border: 5px solid grey;
    padding: 40px;
    border-radius: 30px;
}