.header {
  background: #0f3e94;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  flex-wrap: wrap;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 32px;
  height: 32px;
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-bar {
  padding: 8px;
  border-radius: 6px;
  border: none;
  width: 250px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.title {
  text-align: center;
  margin: 30px 0 20px;
  font-size: 28px;
}

.transaction-card h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.topup-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.e-wallet-tabs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.e-wallet-tabs button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #ddd;
  color: #555;
  font-weight: bold;
  cursor: pointer;
}

.e-wallet-tabs button.active {
  background: #1c6eff;
  color: white;
}

.divider {
  height: 24px;
  width: 2px;
  background-color: #888;
  margin: 0 5px;
}

.amount-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.amount-buttons button {
  padding: 12px 20px;
  background: #8bb9ff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.amount-buttons + input {
  padding: 10px;
  width: 200px;
  border-radius: 6px;
  border: 2px solid #555;
  margin-top: 10px;
}

.topup-btn {
  background: #004aad;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  width: 200px;
}

.footer {
  background-color: #0f3e94;
  color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 12px 32px;
  text-align: left;
  justify-content: flex-end;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-center {
  width: 100%;
  text-align: center;
  font-size: 14px;
}